@import "tailwindcss";

@layer base {
  button, 
  a, 
  [role="button"],
  input[type="submit"],
  input[type="button"],
  input[type="checkbox"],
  input[type="radio"],
  select,
  label {
    cursor: pointer;
  }

  /* Ensure disabled elements don't show the pointer */
  button:disabled,
  input:disabled,
  [aria-disabled="true"] {
    cursor: not-allowed;
  }

  /* Remove arrows/spinners from input type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
